<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">

    <title>{{name}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark x_bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Honey</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/collectors">Collectors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="http://127.0.0.1:5000/providers">Providers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/purchases">Purchases</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    
    
    <!-- for letter in name:
            print(letter) 
        
    for (letter of name) {
        console.log(letter)
    };
        -->
    <div class="d-flex justify-content-center">
        <h2 class="mt-3">{{name}}</h2>
    </div>
    <div class="d-flex justify-content-center">
        {%if is_created%}
        <h3>{{name[0:-1]}} creado!</h3>
        {%endif%}

        <table>

            <thead>
                
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <div class="d-flex justifiy-content-center">
    <table class="table">
        <thead>
            <tr>
                {%for k in data[0].keys()%}
                <th scope="col">{{k}}</th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {%for register in data%}
            <tr>
            {%for v in register.values()%}
                <td>{{v}}</td>
            {%endfor%}
            </tr>
        {%endfor%}
        </tbody>
      </table>
      </div>
</body>
</html>

